.form-group
  label(for='title') Title
  input.form-control(type='text', name='title',
      value=(result.post.title) ? result.post.title : "",
      placeholder='Man Lands on the Moon!')

.form-group
  label(for='author') Author
  input.form-control(type='text', value='#{user.displayName}',
      name='author', disabled)

.form-group
  label(for='description') Description
  textarea.form-control(rows=2, name='description_md',
      placeholder='Add a Description here, for Lists and RSS')
      !=result.post.description_md

.form-group
  label(for='body') Body Content
  textarea.form-control(rows=10, name='body_md',
      placeholder='Neil Armstrong, we hardly knew ye...')
      !=result.post.body_md