extends ../layouts/main

block body
  h3 Next Steps

  if (posts.length)
    each post in posts
      .post-list-entry
        h3.headline
          a(href='/blog/#{post.slug}', title=post.title)
            | #{post.title}
        h5.byline
          small #{post.created}
        .description!= post.description
        ul.inline
          li
            i.fa.fa-comment &nbsp;
            a(href='/blog/#{post.post}#disqus_thread')
          //- li: i.fa.fa-facebook
          //-   |  20
          //- li: i.fa.fa-twitter
          //-   |  22
          li
            .g-plusone(data-size="small", data-href='/blog/#{post.slug}')
  // Disqus Comment Count
  script(src="/js/disqus-comments.js")