extends ../layouts/main

block body
  if (results.length)
    each result in results
      .post-list-entry
        h3.headline
          a(href='/blog/#{result.post.slug}', title=result.post.title)
            | #{result.post.title}
        h5.byline
          small #{result.post.created}
        .description!= result.post.description
        ul.inline
          li
            i.fa.fa-comment &nbsp;
            | Disqus
          //- li: i.fa.fa-facebook
          //-   |  20
          //- li: i.fa.fa-twitter
          //-   |  22
          li
            | GPlus...
  // Disqus Comment Count
  script(src="/js/disqus-comments.js")